spring:
  application:
    name: douya
  profiles:
    active: local
  autoconfigure:
    exclude: org.springframework.ai.model.openai.autoconfigure.OpenAiEmbeddingAutoConfiguration
  ai:
    chat:
      observations:
        log-prompt: true
        log-completion: true
    image:
      observations:
        log-prompt: true
    vectorstore:
      observations:
        log-query-response: true
  servlet:
    multipart:
      max-file-size: 100MB       # 单个文件的最大限制
      max-request-size: 200MB   # 单次请求的总限制（包含文件和其他表单数据）
logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.jdbc.core.StatementCreatorUtils: TRACE

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.tengjiao.douya.interfaces.web
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

server:
  servlet:
    context-path: /api
  port: 8787
