spring:
  application:
    name: douya
  profiles:
    active: local
  ai:
    chat:
        observations:
            log-prompt: true
            log-completion: true
    image:
        observations:
            log-prompt: true
    vectorstore:
      observations:
          log-query-response: true
    deepseek:
      chat:
        options:
          model: DeepSeek-V3.2




# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.tengjiao.douya.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

server:
  servlet:
    context-path: /api
  port: 8787
